<%- include('_header') %>
<div id="passbook">

    <center>

        <h1>Passbook</h1>
    </center>
    <table  >
        <tr>
            <th>My A/C</th>
            <th>Sender A/C</th>
            <th>Debit or Credit</th>
            <th>Note</th>
            <th>Balance</th>
        </tr>
        <%for(pay of payment) {%>
            <tr >
                <td>
                    <%= pay.user.phone%>
                </td>
                <td>
                    <b><%= pay.send_to.phone%></b>
                </td>
                <td>
                    <% if(locals.user.id == pay.user._id ){ %>
                        + <%= pay.payment%>
                    <% } else { %>
                        - <%= pay.payment%>
                    <% } %>
                            
                </td>
                <td>
                    <%= pay.note %>
                </td>
                <td>
                    <%= pay.user.balance %>
                </td>
            </tr>
        <% } %>    
    </table>
        
            
                
</div>