<link rel="stylesheet" type="text/css" href="/css/passbook.css">

<%- include('_header') %>

<div id="passbook">

    <center>

        <h1>Passbook</h1>
    </center>
    <table  >
        <tr>
            <th>My A/C</th>
            <th>Sender A/C</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Note</th>
        </tr>
        <%for(pay of user.payments) {%>
            <tr >
                <td>
                    <%= pay.user.phone %>
                </td>
                <td>
                    <b><%= pay.send_to.phone%></b>
                </td>
                <% if(locals.user.id == pay.user._id ){ %>
                        <td>
                            - <%= pay.payment%>
                        </td>
                        <td></td>
                <% } else { %>
                        
                    <td></td>
                    <td>
                            + <%= pay.payment%>
                        </td>
                <% } %>
                        
                <td>
                    <%= pay.content %>
                </td>
            </tr>
        <% } %>    
    </table>
        
            
                
</div>